.background {
  width: 1440px;
  background: url('../images/background.png');
}

.board {
  width: 1100px;
  height: 700px;
  float: right;
}

.sidebar {
  width: 340px;
  float: left;
}

.balloon {
  position: absolute;
  bottom: -50px;
}

.logo {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

.starttext {
  text-align: center;
  font-size: 40;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

.startbutton {
  text-align: center;
  font-size: 40px;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

.startbutton:hover {
  color: #F9F900;
}

.reset-button:hover {
  color: #F9F900;
}

.gameover {
  text-align: center;
  font-size: 80px;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

.reset-button {
  text-align: center;
  font-size: 40px;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

#time {
  font-size: 20px;
  text-align: left;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

#score {
  font-size: 20px;
  text-align: left;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

#high-score {
  font-size: 20px;
  text-align: left;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}
