.background {
  width: 1440px;
  background: url(http://i.imgur.com/jAXm1WJ.png);
}

.board {
  width: 1100px;
  height: 700px;
  float: right;
}

.sidebar {
  width: 340px;
  float: left;
}

.balloon {
  position: absolute;
  bottom: -50px;
}

.logo {
  font-size: 70px;
  text-align: center;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

.gameover {
  text-align: center;
  font-size: 80px;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

.button {
  text-align: center;
  font-size: 40px;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

#time {
  font-size: 20px;
  text-align: left;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

#score {
  font-size: 20px;
  text-align: left;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}

#high-score {
  font-size: 20px;
  text-align: left;
  margin: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFF99;
}
