.board {
  width: 600px;
  height: 800px;
  border: 1px sold black;
}


.balloon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  border: 1px solid darkred;
  position: absolute;
  bottom: -50px;
  box-sizing: border-box;
}
